/*
 * app/assets/stylesheets/application.css
 */

/*
 * ...
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

 .jumbotron {
	background-image: url(/assets/sanfrancisco.jpg);
  	background-repeat: no-repeat;
  	height: 350px;
  	max-width: 1600px;
	background-size: cover;
}

nav {
}

body { 
  padding-top: 50px;
}

.photo {
	width: 75px;
	height: 75px;
}

.form-horizontal {
  width: 300px;
}

.form-control {
}

.control-label {
  color: #5BC0DE;
}