
<% @cities.each do |city| %>
  <p class="col-lrg-4 col-md-6">
  <div><a href="<%=city_path(city.id)%>"><img class="splash_photo img-responsive center-block" src="<%= city.photo %>"><div class="city_show_title text-center"><%= city.name %></div></a>
  </div>
	</p>	
<% end %>
